{% load poll_extras %}
<html>
  <head>
    <title> Nabil </title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  </head>

  <body>

    <div class="container">

      <div class="jumbotron">
        <h1>Placard Intelligent</h1>
        <p>Affichage de base de données</p>
      </div>





      <!-- Masse_actuelle -->
      <div class="alert alert-success" role="alert"><b>MASSE_ACTUELLE</b></div>

      <table class="table">
        <tr>
          <th>TAG</th>
          <th>MASSE</th>
        </tr>
        {% for valeur in masse_actuelle %}
          <tr>
            <td>{{valeur.id_tag}}</td>
            <td>{{valeur.masse}} g</td>
          </tr>
        {% endfor %}
      </table>

      <!--  historique_receptions -->
      <div class="alert alert-success" role="alert"><b>HISTORIQUE_RECEPTIONS</b></div>

      <table class="table">
        <tr>
          <th>ID</th>
          <th>TAG</th>
          <th>MASSE</th>
          <th>DATE</th>
        </tr>
        {% for valeur in reception %}
          <tr>
            <td>{{valeur.id}}</td>
            <td>{{valeur.id_tag}}</td>
            <td>{{valeur.masse}} g</td>
            <td>{{valeur.date|timestamptodate}}</td>
          </tr>
        {% endfor %}
      </table>

      <!-- Masse_prelevé -->
      <div class="alert alert-success" role="alert"><b>MASSE_PRELEVEE</b></div>

      <table class="table">
        <tr>
          <th>ID</th>
          <th>TAG</th>
          <th>MASSE</th>
          <th>DATE</th>
        </tr>
        {% for valeur in masse_prelevee %}
          <tr>
            <td>{{valeur.id}}</td>
            <td>{{valeur.id_tag}}</td>
            <td>{{valeur.masse}} g</td>
            <td>{{valeur.date|timestamptodate}}</td>
          </tr>
        {% endfor %}
      </table>

      <!-- reference_tag -->

      <div class="alert alert-success" role="alert"><b>REFERENCE_TAG</b></div>

      <table class="table">
        <tr>
          <th>TAG</th>
          <th>CALORIES</th>
        </tr>
        {% for valeur in reference_tag %}
          <tr>
            <td>{{valeur.id_tag}}</td>
            <td>{{valeur.calories}}</td>
          </tr>
        {% endfor %}
      </table>

      <!-- produit_present -->

      <div class="alert alert-success" role="alert"><b>PRODUIT_PRESENT</b></div>

      <table class="table">
        <tr>
          <th>TAG</th>
          <th>ID_RECEPTION</th>
        </tr>
        {% for valeur in produit_present %}
          <tr>
            <td>{{valeur.id_tag}}</td>
            <td>{{valeur.id_reception}}</td>
          </tr>
        {% endfor %}
      </table>





  </div>
  </body>
</html>
